.film-details {
  position: absolute;
  display: flex;
  overflow: hidden;
  top: 50px;
  left: 30px;
  right: 30px;
  margin: 10px auto;
  padding: 5px 10px;
  width: 90%;
  height: auto;
  background-color: white;
  border: 1px solid gold;
  text-align: left;
  color: black;

}

.film-details__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  &:hover {
    cursor: pointer;
  }
}